---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=K2D:wght@700&family=Lato:wght@100;300;700&family=League+Spartan:wght@900&family=Lexend&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#171717] text-white select-none overflow-hidden">
    <slot>
		
	</slot>
	</body>
</html>
